@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
0-600  phone
600-900 tablet portrait
900-1200  table landscape
1200-1800   is where our normal styles apply 这是我们写的样式的范围
1800+     big desktop
*/



/*
参数：
  phone
  tab-port
  tab-land
  big-desktop

  1em=16px

*/
@mixin  response($breakpoint){
  @if $breakpoint==phone {
    @media (max-width: 37.5em) {  //600px
      @content
    }
  }
  @if $breakpoint==tab-port {
    @media (max-width: 56.25em) { //900px
      @content
    }
  }
  @if $breakpoint==tab-land {
    @media (max-width: 75em) { //1200px
      @content
    }
  }
  @if $breakpoint== big-desktop {
    @media (max-width: 112.5em) { //1800px
      @content
    }
  }

  //@if $breakpoint==phone {
  //  @media (max-width:600px) {  //600px
  //    @content
  //  }
  //}
  //@if $breakpoint==tab-port {
  //  @media (max-width: 900px) { //900px
  //    @content
  //  }
  //}
  //@if $breakpoint==tab-land {
  //  @media (max-width: 1200px) { //1200px
  //    @content
  //  }
  //}
  //@if $breakpoint== big-desktop {
  //  @media (max-width: 1800px) { //1800px
  //    @content
  //  }
  //}


}