
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem=10px





  @include response(big-desktop) {
    font-size: 75%;  //1rem = 12px  12/16=75%
  }
  @include response(tab-land) {
    font-size: 56.25%;   //1rem = 9px  9/16=56.25%
  }

  @include response(tab-port) {
    font-size: 50%;   //1rem = 8px  8/16=50%
  }

  @include response(phone) {
    font-size: 30%;
  }


}

body {
  box-sizing: border-box;
}

